<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings >
  <add name="MultiDimensionalSpreadsheetConnectionString"
      connectionString="Data Source=SSEPANDEV\SQLEXPRESS;Initial Catalog=MultiDimensionalSpreadsheet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>
