<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="MultiDimensionalSpreadsheet" Language="1033" Version="0.14.0.0" Manufacturer="Stephen J Sepan" UpgradeCode="5e48b341-71ee-4783-beef-86ac53acc4c6">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="MultiDimensionalSpreadsheet" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MultiDimensionalSpreadsheet" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MultiDimensionalSpreadsheet"/>
      </Directory>
    </Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="6b8c214f-d4f8-42e3-b4d8-824679b5d29e">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="MultiDimensionalSpreadsheet"
                  Description="MultiDimensionalSpreadsheet"
                  Target="[#MultiDimensionalSpreadsheet.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\StephenJSepan\MultiDimensionalSpreadsheet" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>


  <Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MultiDimensionalSpreadsheet.exe">
        <File Source="$(var.MultiDimensionalSpreadsheet.TargetPath)" />
      </Component>
      <Component Id="MultiDimensionalSpreadsheet.exe.config">
        <File Source="$(var.MultiDimensionalSpreadsheet.TargetDir)\$(var.MultiDimensionalSpreadsheet.TargetFileName).config" />
      </Component>
      <Component Id="MultiDimensionalSpreadsheet.pdb">
        <File Source="$(var.MultiDimensionalSpreadsheet.TargetDir)\$(var.MultiDimensionalSpreadsheet.TargetName).pdb" />
      </Component>
      <Component Id="License.txt">
        <File Source="$(var.MultiDimensionalSpreadsheet.ProjectDir)\License.txt" />
      </Component>
      <Component Id="test.mdss">
        <File Source="$(var.MultiDimensionalSpreadsheet.TargetDir)\settings\test.mdss" />
      </Component>
      <Component Id="MultiDimensionalSpreadsheetLibrary.dll">
        <File Source="$(var.MultiDimensionalSpreadsheetLibrary.TargetPath)" />
      </Component>
      <Component Id="MultiDimensionalSpreadsheetLibrary.pdb">
        <File Source="$(var.MultiDimensionalSpreadsheetLibrary.TargetDir)\$(var.MultiDimensionalSpreadsheetLibrary.TargetName).pdb" />
      </Component>
      <Component Id="readme.txt">
        <File Source="$(var.MultiDimensionalSpreadsheetLibrary.ProjectDir)\readme.txt" />
      </Component>
      <Component Id="Ssepan.Application.dll">
        <File Source="$(var.Ssepan.Application.TargetPath)" />
      </Component>
      <Component Id="Ssepan.Application.pdb">
        <File Source="$(var.Ssepan.Application.TargetDir)\$(var.Ssepan.Application.TargetName).pdb" />
      </Component>
      <Component Id="Ssepan.Collections.dll">
        <File Source="$(var.Ssepan.Collections.TargetPath)" />
      </Component>
      <Component Id="Ssepan.Collections.pdb">
        <File Source="$(var.Ssepan.Collections.TargetDir)\$(var.Ssepan.Collections.TargetName).pdb" />
      </Component>
      <Component Id="Ssepan.Io.dll">
        <File Source="$(var.Ssepan.Io.TargetPath)" />
      </Component>
      <Component Id="Ssepan.Io.pdb">
        <File Source="$(var.Ssepan.Io.TargetDir)\$(var.Ssepan.Io.TargetName).pdb" />
      </Component>
      <Component Id="Ssepan.Utility.dll">
        <File Source="$(var.Ssepan.Utility.TargetPath)" />
      </Component>
      <Component Id="Ssepan.Utility.pdb">
        <File Source="$(var.Ssepan.Utility.TargetDir)\$(var.Ssepan.Utility.TargetName).pdb" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
